<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CheckUser</servlet-name>
  	<display-name>CheckUser</display-name>
  	<description></description>
  	<servlet-class>com.dips.demo.CheckUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetFile</servlet-name>
  	<display-name>GetFile</display-name>
  	<description></description>
  	<servlet-class>com.dips.demo.GetFile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadFile</servlet-name>
  	<display-name>UploadFile</display-name>
  	<description></description>
  	<servlet-class>com.dips.demo.UploadFile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.dips.demo.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateNew</servlet-name>
  	<display-name>CreateNew</display-name>
  	<description></description>
  	<servlet-class>com.dips.demo.CreateNew</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Return</servlet-name>
  	<display-name>Return</display-name>
  	<description></description>
  	<servlet-class>com.dips.demo.Return</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetCookie</servlet-name>
  	<display-name>GetCookie</display-name>
  	<description></description>
  	<servlet-class>com.dips.demo.GetCookie</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CleanCookie</servlet-name>
  	<display-name>CleanCookie</display-name>
  	<description></description>
  	<servlet-class>com.dips.demo.CleanCookie</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete</servlet-name>
  	<display-name>Delete</display-name>
  	<description></description>
  	<servlet-class>com.dips.demo.Delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SimpleServlet</servlet-name>
  	<display-name>SimpleServlet</display-name>
  	<description></description>
  	<servlet-class>com.dips.demo.SimpleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckUser</servlet-name>
  	<url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetFile</servlet-name>
  	<url-pattern>/GetFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadFile</servlet-name>
  	<url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateNew</servlet-name>
  	<url-pattern>/CreateNew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Return</servlet-name>
  	<url-pattern>/Return</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCookie</servlet-name>
  	<url-pattern>/GetCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CleanCookie</servlet-name>
  	<url-pattern>/CleanCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete</servlet-name>
  	<url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SimpleServlet</servlet-name>
  	<url-pattern>/SimpleServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list> 
<welcome-file>GetCookie</welcome-file> 
</welcome-file-list>
</web-app>
